@charset "UTF-8";
/* CSS Document */

#buttonBody{
	
	background-image:url(file:///F|/web%20dev/web%20dev%204/Dom%20builder%20project/button%20builder%20body.png);
	background-size:contain;
	background-repeat: no-repeat;
	width: 592px;
	height: 620px;

}
#square {
	width: 100px;
	height: 100px;
	background: red;
	position:relative;
	top:90px;
	left:200px;
}


#tableBuilder{
font:italic;
	position:relative;
	top:300px;
	right:auto;}
